.parent-vault-detail {
    position: relative;
    width: calc(100% - 250px);
    float: right;
    margin-top: 50px;
    pointer-events: auto; /* Ensure this and its children are interactive */
}

.parent-vault-detail img {
    width: 100%;
    display: block;
}

.parent-vault-detail .main-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-vault-detail .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
}

.parent-vault-detail .product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3px;
    column-gap: 10px;
}

.parent-vault-detail .product-div-left {
    padding: 20px;
}

.parent-vault-detail .product-div-right {
    padding: 20px;
}

.parent-vault-detail .hover-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.parent-vault-detail .hover-container div {
    border: 2px solid #d1a875;
    border-radius: 3px;
    margin: 0 8px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent-vault-detail .active {
    border-color: #ff8c00 !important;
}

.parent-vault-detail .hover-container div:hover {
    border-color: #ff8c00 !important;
}

.parent-vault-detail .hover-container div img {
    width: 100px;
    cursor: pointer;
}

.parent-vault-detail .product-div-right span {
    display: block;
}

.parent-vault-detail .product-div-right .product-name {
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    color: #debd94;
}

.parent-vault-detail .product-div-right .product-desc {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
    color: #fff
}

.parent-vault-detail .value-div-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.parent-vault-detail .value-div-parent .value-div {
    border: 3px solid #debd94;
    color: #fff;
    opacity: 0.9;
    padding: 10px 30px;
}

.parent-vault-detail .mintable-div-parent {
    margin-top: 20px;
}

.parent-vault-detail .mintable-div-parent .mintable-div {
    border: 3px solid #debd94;
    color: #fff;
    opacity: 0.9;
    padding: 10px 30px;
}

.parent-vault-detail .mint-div-parent {
    margin-top: 20px;
}

.parent-vault-detail .mint-div-parent .mint-btn {
    text-decoration: none;
    padding: 8px 30px;
    border: none;
    outline: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-size: 20px;
    background-color: #000;
    width: 100%;
}

.parent-vault-detail .mint-div-parent .mint-btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #debd94;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.parent-vault-detail .mint-div-parent .mint-btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #be0000, #ca5b00, #c9c500, #37c200,
        #00b698, #0021c9, #be0095, #b90000
    );
    position: absolute;
    top: -2px;
    left: -8px;
    background-size: 600%;
    z-index: -1;
    width: calc(102% + 4px);
    height: calc(100% + 4px);
    filter: blur(12px);
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    animation: glowing 15s linear infinite;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.parent-vault-detail .bottom-text-div {
    padding-bottom: 80px;
}

.parent-vault-detail .bottom-text-div h1 {
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
}

@media (max-width: 1370px) {
    .parent-vault-detail  {
        width: calc(100%);
        padding: 20px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .parent-vault-detail .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 0 16px;
        margin-left: 20%;
    }

    .parent-vault-detail .bottom-text-div {
        width: 70%;
        margin-left: 25%;
    }

    .parent-vault-detail .value-div-parent .value-div h1 {
        font-size: 16px;
    }

    .parent-vault-detail .product-div-right .product-desc {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .parent-vault-detail .container {
        max-width: 70%;
        margin: 0 auto;
        padding: 0 16px;
        margin-left: 27%;
    }

    .parent-vault-detail .bottom-text-div {
        width: 70%;
        margin-left: 27%;
    }

    .parent-vault-detail .product-div {
        grid-template-columns: 100%;
    }

    .parent-vault-detail .value-div-parent {
        grid-template-columns: 100%;
    }

    .parent-vault-detail .product-div-right {
        text-align: center;
    }

    .parent-vault-detail .product-div-right .product-desc {
        max-width: 400;
        margin-right: auto;
        margin-left: auto;
    }
    .parent-vault-detail .hover-container div img {
        width: 50px !important;
        cursor: pointer;
    }
}

@media screen and (max-width: 912px) {
    .parent-vault-detail .container {
        max-width: 70%;
        margin: 0 auto;
        padding: 0 16px;
        margin-left: 27%;
        margin-top: 3% !important;
    }

    .parent-vault-detail .bottom-text-div {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 992px) {
    .parent-vault-detail .product-div {
        grid-template-columns: 100%;
    }

    .parent-vault-detail .value-div-parent {
        grid-template-columns: 100%;
    }

    .parent-vault-detail .product-div-right {
        text-align: center;
    }

    .parent-vault-detail .product-div-right .product-desc {
        max-width: 400;
        margin-right: auto;
        margin-left: auto;
    }
    .parent-vault-detail .hover-container div img {
        width: 50px !important;
        cursor: pointer;
    }
}

@media screen and (max-width: 912px) {
    .parent-vault-detail .container {
        max-width: 70%;
        margin: 0 auto;
        padding: 0 16px;
        margin-left: 15%;
        margin-top: -10%;
    }
}

@media screen and (max-width: 820px) {
    .parent-vault-detail .container {
        max-width: 70%;
        margin: 0 auto;
        padding: 0 16px;
        margin-left: 15%;
    }
}

@media screen and (max-width: 450px) {
    .parent-vault-detail .container {
        max-width: 100% !important;
        margin: 0 auto;
        padding: 0 1px;
    }
}