.faqs .accordion {
    width: 80%;
    margin: 0 auto;
}

.faqs .accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #202020;
}

.faqs .accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.faqs .accordion li label::before {
    content: "+";
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.faqs .accordion li input[type="radio"] {
    display: none;
}

.faqs .accordion .content {
    color: #929292;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s, padding 0.25s;
}

.faqs .accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.faqs .accordion input[type="radio"]:checked + label::before {
    content: "-";
}

@media only screen and (max-width: 821px) {
    .faqs .accordion {
        width: 100%;
        margin-right: 10%;
    }
}