@media (max-width: 768px) {
    .ft-card {
        margin-top: 8% !important;
    }
}

@media (max-width: 540px) {
    .ft-card {
        margin-top: 8% !important;
    }
}

@media (max-width: 500px) {
    .ft-card {
        margin-top: 8% !important;
    }
}

@media (max-width: 375px) {
    .ft-card {
        margin-top: 8% !important;
    }
}

@media (max-width: 344px) {
    
}