.parent-parent-pd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: calc(100% - 250px);
    height: 100vh;
    flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
    justify-content: space-between;
    gap: 0px; /* Optional: Adds space between columns */
}
 
.parent-parent-pd .column {
    flex: 1; /* Makes both columns take up equal space */
}

.parent-parent-pd .tradeBox {
    width: 100%;
    background-color: #0E111B;
    border: 2px solid #21273a;
    min-height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999 !important;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* For WebKit-based browsers (Safari, Chrome) */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.parent-parent-pd .tradeBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.parent-parent-pd .tradeBoxHeader h4 {
    color: #fff;
}

.parent-parent-pd .cog {
    color: #51586f;
    transition: 0.3s;
}
  
.parent-parent-pd .cog:hover {
    color: white;
    rotate: 90deg;
    cursor: pointer;
}

.parent-parent-pd .inputs {
    position: relative;
}

.parent-parent-pd .assetOne {
    position: absolute;
    min-width: 50px;
    height: 30px;
    background-color: #d9d9d3;
    top: 36px;
    right: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 17px;
    padding-right: 8px;
    padding-left: 16px;
    cursor: pointer;
}
  
.parent-parent-pd .assetTwo {
    position: absolute;
    min-width: 50px;
    height: 30px;
    background-color: #d9d9d3;
    top: 135px;
    right: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    font-size: 17px;
    padding-right: 8px;
    padding-left: 16px;
    cursor: pointer;
}

.parent-parent-pd .assetLogo {
    height: 22px;
    margin-left: 5px;
}

.parent-parent-pd .switchButton {
    background-color: #d9d9d3;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: absolute;
    top: 86px;
    left: 180px;
    color: #5F6783;
    border: 3px solid #d9d9d3;
    font-size: 12px;
    transition: 0.3s
}

.parent-parent-pd .switchButton:hover {
    color: #000;
    cursor: pointer;
}

.parent-parent-pd .tokenChoice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.parent-parent-pd .tokenChoice:hover {
    cursor: pointer;
    background-color: #1f2639;
}

.parent-parent-pd .tokenLogo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.parent-parent-pd .swapButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d3; 
    width: calc(100%);
    height: 55px;
    font-size: 20px;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-top: 8px;
}

.parent-parent-pd .swapButton[disabled] {
    background-color: #243056;
    opacity: 0.4;
    color: #5982f39b;
}
  
.parent-parent-pd .swapButton[disabled]:hover {
    cursor: not-allowed;
    background-color: #353531;
}
  
.parent-parent-pd .swapButton:hover {
    cursor: pointer;
    background-color: #353531;
    color: white;
}

.parent-parent-pd .exchange-rate-parent {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
}

.parent-parent-pd .balance-parent {
    padding: 0px 11px !important;
    margin-bottom: 5px;
}

.parent-parent-pd .exchange-rate-parent span {
    color: #fff;
}

.parent-parent-pd .exchange-rate {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #999;
}

.parent-parent-pd .percent-button {
    background-color: #d9d9d3;
    border: none;
    color: black;
    padding: 5px 15px;
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
}

.parent-parent-pd .percent-button:hover {
    background-color: #353531;
    color: white;
}

/* For Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.no-arrows[type='number'] {
    -moz-appearance: textfield;
}

.inputs .no-arrows {
    background-color: #2f3337 !important;
}

.ant-input {
    background-color: #2c2d4c !important;
    color: white !important;
    border-width: 0px !important;
    height: 96px !important;
    margin-bottom: 5px;
    font-size: 30px;
    border-radius: 12px !important;
}

.ant-input::placeholder {
    color: #5f6783 !important;
}

.ant-popover-arrow {
    visibility: hidden;
}

.ant-popover-title {
    color: white !important;
}

.ant-popover-inner-content {
    color: white !important;
}

.ant-popover-inner {
    min-width: 260px !important;
    min-height: 140px !important;
    border: 1px solid #21273a;
    background-color: #0e111b !important;
}

.ant-radio-group {
    margin-top: 10px;
}

.ant-radio-button-wrapper {
    background-color: #1f2639 !important;
    color: white !important;
    font-weight: 500;
    border-color: white !important;
}

.ant-radio-button-wrapper-checked {
    border-color: white !important;
    background-color: #363e54 !important;
}

.ant-radio-button-wrapper-checked::before {
    background-color: white !important;
}

.ant-modal-content {
    background-color: #0e111b !important;
    color: white !important;
    padding: 0px !important;
}

.ant-modal {
    border: 1px solid #363e54;
    width: 400px !important;
    border-radius: 10px;
}

.ant-modal-header {
    background-color: #0e111b !important;
}

.ant-modal-title {
    color: white !important;
    padding-top: 17px !important;
    margin-left: 20px !important;
}

.ant-modal-close-icon {
    color: #363e54 !important;
    transition: 0.3s;
}

.ant-modal-close-icon:hover {
    color: white !important;
}

@media (max-width: 1280px) {
    .parent-parent-pd .swap-parent {
        position: relative;
        left: 120px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: 0%;
    }

    .parent-parent-pd .col2 {
        margin-top: -17%;
    }

    .ant-input {
        font-size: 26px;
    }

    .parent-parent-pd .balance-parent {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .parent-parent-pd .swap-parent {
        position: relative;
        left: 120px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: -30%;
    }

    .parent-parent-pd .col2 {
        margin-top: -80%;
    }

    .ant-input {
        font-size: 26px;
    }

    .parent-parent-pd .balance-parent {
        font-size: 14px;
    }
}

@media (max-width: 912px) {
    .parent-parent-pd .swap-parent {
        position: relative;
        left: -5%;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }
    
    .parent-parent-pd .column {
        margin-top: -35%;
    }

    .parent-parent-pd .col2 {
        margin-top: -90%;
    }
}

@media (max-width: 853px) {
    .parent-parent-pd .swap-parent {
        position: relative;
        left:  0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }
}

@media (max-width: 820px) {
    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .swap-parent {
        position: relative;
        left:  0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: -25%;
    }

    .parent-parent-pd .col2 {
        margin-top: -75%;
    }
}

@media (max-width: 768px) {
    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .swap-parent {
        position: relative;
        left:  0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: -20%;
    }

    .parent-parent-pd .col2 {
        margin-top: -65%;
    }
}

@media (max-width: 540px) {
    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: 0%;
    }

    .parent-parent-pd .col2 {
        margin-top: -30%;
    }

    .ant-input {
        font-size: 18px;
    }

    .parent-parent-pd .balance-parent {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .parent-parent-pd {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .parent-parent-pd .swap-parent {
        position: relative;
        left:  0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd .column {
        width: 100%;
    }

    .parent-parent-pd .column {
        margin-top: -30%;
    }

    .parent-parent-pd .col2 {
        margin-top: -90%;
    }

    .ant-input {
        font-size: 18px;
    }

    .parent-parent-pd .balance-parent {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    .parent-parent-pd .swap-parent {
        position: relative;
        left:  0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        padding: 0 7px 0 7px;
    }

    .parent-parent-pd .column {
        margin-top: -10%;
    }

    .parent-parent-pd .col2 {
        margin-top: -45%;
    }
}

@media (max-width: 360px) {
    .parent-parent-pd .column {
        margin-top: -15%;
    }

    .parent-parent-pd .col2 {
        margin-top: -65%;
    }
}

@media (max-width: 344px) {
    .parent-parent-pd .column {
        margin-top: -40%;
    }

    .parent-parent-pd .col2 {
        margin-top: -105%;
    }

    .ant-input {
        font-size: 14px;
    }

    .parent-parent-pd .balance-parent {
        font-size: 12px;
    }
}