.parent-vp {
    position: relative;
    text-align: center;
    margin-top: 6%;
}
  
.radiating-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(127, 131, 137, 0.9), rgba(127, 131, 137, 0.6), rgba(127, 131, 137, 0));
    border-radius: 50%;
    filter: blur(170px); /* Heavy blur for a radiating effect */
    z-index: 1; /* Make sure it's behind the content */
}
  
.parent-value {
    display: flex;
    justify-content: center; /* Centers the flex container horizontally */
    align-items: center; /* Centers items vertically within the flex container */
    gap: 190px;
    width: 100%;
    max-width: 83rem;
    margin: 0 auto;
    z-index: 10; /* Keep this above the radiating circle */
    height: 50vh;
}

.value-image img {
    width: 75%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 912px) {
    .parent-value {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .parent-value {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .parent-value {
        height: 100vh !important;
        margin-top: 40%;
        width: 97%;
    }
}

@media (max-width: 500px) {
    .parent-value {
        height: 100vh !important;
        margin-top: 40%;
        width: 97%;
    }
}

@media (max-width: 375px) {
    .parent-value {
        height: 100vh !important;
        margin-top: 70%;
        width: 97%;
    }
}

@media (max-width: 344px) {
    .parent-value {
        height: 100vh !important;
        margin-top: 50%;
        width: 97%;
    }
}