.vault-parent {
    position: relative;
    left: 250px;
    top: 70px;
}
  
.private-vault {
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: #fff;
    box-sizing: border-box;
    width: calc(100% - 300px);
    height: 100vh; /* Ensure it takes the full height of the viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}


.private-vault .no-access {
    text-align: center; /* Center the text within the div */
    margin-top: -70px;
}

.private-vault .title {
    font-size: 46px;
    color: #f0ad4e;
}

.private-vault .desc {
    margin-right: 10px; /* Adjust the spacing between the text and the image */
    margin-top: -45px;
    font-size: 18px;
    color: #f0ad4e;
}

.private-vault .warning-icon {
    width: 250px; /* Adjust the size of the image as needed */
    height: auto;
    margin-top: -45px;
}

.vault-container .tabs {
    left: -100px;
}

@media (max-width: 1024px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-left: 10% !important;
    }
}

@media (max-width: 991px) {
    .private-vault {
        margin-left: -25%;
    }
}

@media (max-width: 990px){
    .private-vault {
        margin-left: -15%;
    }

    .vault-container .tabs {
        left: -12px;
    }
}

@media (max-width: 912px){
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-top: -50%;
        margin-left: 20% !important;
    }
}

@media (max-width: 820px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-top: -50%;
        margin-left: 10% !important;
    }
}

@media (max-width: 767px) {
    .private-vault {
        margin-left: -15%;
    }

    .vault-container .tabs {
        left: -12px;
    }
}

@media (max-width: 500px){
    .vault-parent {
        left: 250px;
    }

    .vault-parent .tabs {
        font-size: 14px;
    }

    .private-vault .no-access {
        margin-left: 25px;
    }

    .vault-container .tabs {
        left: -12px;
    }
}

@media (max-width: 450px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-top: -250%;
        margin-left: -75% !important;
    }
}

@media (max-width: 390px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-top: -250%;
        margin-left: -90% !important;
    }
}

@media (max-width: 375px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-left: -150% !important;
    }
}

@media (max-width: 350px) {
    .vault-parent {
        left: 245px;
    }

    .vault-parent .tabs {
        font-size: 14px;
        left: -5px;
    }

    .private-vault .no-access {
        margin-left: 0px;
        margin-top: -250px;
    }
}

@media (max-width: 344px) {
    .private-vault .no-access {
        width: 250px; /* Adjust the size of the image as needed */
        height: auto;
        margin-left: -300% !important;
    }
}